<ion-header>
  <ion-navbar>
    <ion-title>
      Videogames Timeline
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let game of gamesList">
        <img [src]="game.imageUrl"/>
        <ion-card-content>
            <ion-chip *ngFor="let platform of game.platforms" color="primary">
                <ion-label>
                    {{platform}}
                </ion-label>
            </ion-chip>
            <ion-card-title>
                {{game.title}}
            </ion-card-title>
            <p>
                {{game.description}}
            </p>
        </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
