<ion-header>
  <ion-navbar>
    <ion-title>
      Videogames Timeline
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let game of ( gamesList | async )">
        <ion-card-header style="padding:0; max-height:205px; margin-bottom: 10px;">
            <img [src]="game.imageUrl"/>
        </ion-card-header>
        <ion-card-content>
            <ion-chip *ngFor="let platform of game.platforms" color="primary">
                <ion-label>
                    {{platform}}
                </ion-label>
            </ion-chip>
            <ion-card-title>
                {{game.title}}
            </ion-card-title>
            <p>
                {{game.description}}
            </p>
        </ion-card-content>
    </ion-card>
  </ion-list>
    <ion-fab bottom right>
        <button ion-fab color="secondary" (click)="openNewGameForm()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
